@import "../../index.scss";

.Badge {
  width: $roundBadgeDiameter;
  height: $roundBadgeDiameter;
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
