@import "../../index.scss";

$height: $layoutFooterHeight;
$margin: 30px;

#Footer {
  height: $height;

  background-color: $layoutBgColor;
  color: $layoutFontColor;
  border-top: $layoutBorderWidth solid $layoutBorderColor;

  nav {
    margin: $margin;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    h3 {
      font-weight: bold;
    }
  }
  p {
    margin: $margin;
    text-align: center;
  }
}
