@import "../../index.scss";

$height: $layoutRoleetbarHeight;
$logoHeight: 0.6 * $height;
$menuItemsMargin: 10px;
$avatarSize: 40px;
$avatarBorderRadius: $layoutBorderWidth;

#RoleetBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;

  height: $height;
  position: sticky;
  top: 0;

  background-color: $layoutBgColor;
  color: $layoutFontColor;
  border-top: $layoutBorderWidth solid $layoutBorderColor;

  .logo {
    height: 100%;
    justify-content: center;
    align-items: flex-start;

    div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    img {
      height: $logoHeight;
    }

    h1 {
      font-weight: bold;
    }
  }
  ul {
    height: 100%;
    list-style: none;

    li {
      margin: $menuItemsMargin;

      img {
        width: $avatarSize;
        height: $avatarSize;
        border-radius: $avatarBorderRadius;
      }
    }
  }
}
