@import url("https://fonts.googleapis.com/css?family=Lato:100, 300, 400, 700");
@import url("https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css");

@import "../../index.scss";

// SearchBar
$height: 0.6 * $layoutRoleetbarHeight;
$margin: 50px 100px;
$fontColor: $layoutFontColor;
$fontSize: 20px;
$expandedWidth: 700px;

// SearchResults
$bgColor: white;
$resFontColor: black;

#SearchBar {
  margin: $margin;
  position: relative;
  height: $height;
  float: right;
  padding: 0;
  position: relative;

  &:focus:hover {
    border-bottom: 1px solid $fontColor;
  }

  input[type="text"] {
    height: $height;
    font-size: $fontSize;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: $fontColor;
    padding: 3px;
    padding-right: $height;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer;

    &:focus {
      width: $expandedWidth;
      z-index: 1;
      border-bottom: 1px solid $fontColor;
      cursor: text;
    }
  }

  input[type="submit"] {
    height: $height;
    width: $height;
    float: right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=)
      center center no-repeat;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.4s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  #SearchResults {
    background-color: $bgColor;
    position: absolute;
    right: $height;
    top: calc(100% + 10px);
    width: $expandedWidth;

    h4,
    a,
    .item,
    .big-item {
      color: $resFontColor;
    }

    .item {
      width: 25%;
    }
    .big-item {
      width: 50%;
    }
  }
}
