/* ------------------------ Variables */

/* ----- Layout */
$layoutBgColor: #151515;
$layoutBorderColor: #c40000;
$layoutBorderWidth: 2px;
$layoutFontColor: #e5e5e5;

$transitionDuration: 0.2s;

$layoutMetabarHeight: 6vh;
$layoutRoleetbarHeight: 9vh;
$layoutFooterHeight: 25vh;
$layoutContentHeight: calc(
  100vh - #{$layoutMetabarHeight} - #{$layoutRoleetbarHeight} - #{$layoutFooterHeight} -
    2 * #{$layoutBorderWidth}
);

/* ----- Cards */
$cardBgColor: #151515;
$cardFontColor: #e5e5e5;
$cardMargin: 15px;
$cardFont: "Coda", cursive;
$cardWidth: 30vw;
$cardHeight: calc(#{$cardWidth}* 1.35);

/* ----- Cards */
$tagBgColor: rgba(169, 169, 169, 0.32);
$tagFontColor: dimgrey;

/* ------------------------ General styles */
a,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

/* ------------------------ Helper classes */
.wip {
  border: 1px dotted green;
}
.flexer {
  display: flex;
  flex-flow: row wrap;
}
.center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
